@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');

:root {
    --font-xl: clamp(0.1rem, 2vw + 0.3rem, 2rem);
    --font-md: clamp(0.1rem, 1.6vw + 0.1rem, 2rem);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
}

/* Card */

.container h1{
    text-align: center;
    
}

#cabecalhoal #icone {
    height: 100px;
    width: 300px;
    display: block;
    margin: 0 auto;
    
}	

#cabecalhoal {
	border-bottom: 1px #606060 solid;
	height: 140px;
    
}
#cabecalhoal h2 {
	font-family: Arial, sans-serif;
	font-size: var(--font-xl);
	color: lightgray;
	line-height: 0;
    letter-spacing: 2px;
    
    
}

.projetos{
    width: 100%;
    height: auto;
    display: inline-block;
}

.card-container {
    display: flex;
    align-items: normal;
    width: 48%;
    float: left;
    border: 1px solid white; 
    border-radius: 5px;
    margin: 2px 2px 2px 5px;
}

.card {
    display: flex;
    height: 130px;
    width: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-right: 10px;  
}
.card-alm {
    display: flex;
    height: 110px;
    width: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-right: 10px;  
}

#card1 {
    background-image: url('../imagens/toscna.jpg');
}
#card2 {
    background-image: url('../imagens/galinha.jpg');
}
#card3 {
    background-image: url('../imagens/assada.jpg');
}
#card4 {
    background-image: url('../imagens/_MG_0130\ -\ Cópia.JPG');
}
#card5 {
    background-image: url('../imagens/bife.jpg');
}
#card6 {
    background-image: url('../imagens/bife.jpg');
}
#card7 {
    background-image: url('../imagens/_MG_0609.JPG');
}
#card8 {
    background-image: url('../imagens/baiao2.jfif');
}
#card9 {
    background-image: url('../imagens/parmegianapeitodefrango.jpg');
}
#card10 {
    background-image: url('../imagens/polpettine.jfif');
}
#card11 {
    background-image: url('../imagens/cupim.jpg');
}
#card12 {
    background-image: url('../imagens/strogonoff.jfif');
}
#card13 {
    background-image: url('../imagens/_MG_0586.JPG');
}
#card14 {
    background-image: url('../imagens/_MG_0586.JPG');
}
#card15 {
    background-image: url('../imagens/peixe.jfif');
}
#card16 {
    background-image: url('../imagens/peixe.jfif');
}
#card17 {
    background-image: url('../imagens/cupim.jpg');
}
#card18 {
    background-image: url('../imagens/cupim.jpg');
}
#card19 {
    background-image: url('../imagens/economico.jpg');
}
#card20 {
    background-image: url('../imagens/economico.jpg');
}
#card21 {
    background-image: url('../imagens/economico.jpg');
}
#card22 {
    background-image: url('../imagens/economico.jpg');
}
#card23 {
    background-image: url('../imagens/economico.jpg');
}
#card24 {
    background-image: url('../imagens/_MG_0114.JPG');
}
#card25 {
    background-image: url('../imagens/_MG_0609.JPG');
}
#card26 {
    background-image: url('../imagens/ks.jpg');
}
#card27 {
    background-image: url('../imagens/lata.jpg');
}


.card-text {
    width: 70%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(193, 193, 196);
    font-size: 15px;
}
.card-text2 {
    width: 100%;
    font-family: sans-serif;
}

.card-text h1 {
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0;
    color: white;
}
.card-text2 h1 {
    font-size: 23px;
    text-align: center;
    margin: 0;
    color: white;
}
.card-text2 h2 {
    font-size: 21px;
    text-align: center;
    margin: 0;
    color: rgb(91, 91, 243);
}
.card-text2 h3 {
    font-size: 16px;
    text-align: center;
    margin: 0;
    color: lightgreen;
}

.card-text h2 {
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0;
    color: lightgreen;
}

#mDivlfrango h2 {
    text-align: center;
}

#mDivlcarne h2 {
    text-align: center;
}

/*.card-text p {
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0;
    color: lightgreen;
}

Formatção Mostrar item */	

.card-container.mostrar {
    display: none;
}

#wifi h1 {
	font-family: Arial, sans-serif;
	font-size: 25px;
	color: lightgreen;
	line-height: 0.5;
	
}

@media screen and (max-width: 768px) {

    .container h1{
        text-align: center;
        height: 80px;
        
    }
    
    #cabecalhoal #icone {
        height: 100px;
        width: 300px;
        display: block;
        margin: 0 auto;
        
    }	
    
    #cabecalhoal {
        border-bottom: 1px #606060 solid;
        height: 140px;
        
    }
    #cabecalhoal h2 {
        font-family: Arial, sans-serif;
        font-size: var(--font-md);
        color: lightgray;
        line-height: 0;
        letter-spacing: 2px;
        
        
    }
    
    .projetos{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .card-container {
        display: flex;
        align-items: normal;
        width: 80%;
        transform: translate(12% , -50% );
        top: 50%;
        left: 50%;  
        border: 1px solid white; 
        border-radius: 5px;
        margin: 2px 2px 2px 5px;
        
    }
    
    .card {
        display: flex;
        height: 130px;
        width: 180px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        margin-right: 10px;  
    }
    .card-alm {
        display: flex;
        height: 133px;
        width: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        margin-right: 10px;  
    }

    .card-text {
        width: 70%;
        font-family: sans-serif;
        letter-spacing: 1px;
        color: rgb(193, 193, 196);
        font-size: 15px;
    }
    .card-text2 {
        width: 100%;
        font-family: sans-serif;
    }
    
    .card-text h1 {
        font-size: 22px;
        letter-spacing: 1px;
        margin: 0;
        color: white;
        height: 30px;
    }

    #mDivpfrango h1 {
        font-size: 18px;
    }

    #mDivstrf h1 {
        font-size: 19px;
    }

    .card-text2 h1 {
        font-size: 23px;
        text-align: center;
        margin: 0;
        color: white;
    }
    .card-text2 h2 {
        font-size: 21px;
        text-align: center;
        margin: 0;
        color: rgb(91, 91, 243);
    }

    #mDivlfrango h2 {
        text-align: center;
    }

    #mDivlcarne h2 {
        text-align: center;
    }

    .card-text2 h3 {
        font-size: 16px;
        text-align: center;
        margin: 0;
        color: lightgreen;
    }
    
    .card-text h2 {
        font-size: 20px;
        letter-spacing: 1px;
        margin: 0;
        color: lightgreen;
    }
    
    /*.card-text p {
        font-size: 10px;
        letter-spacing: 1px;
        margin: 0;
        color: lightgreen;
    }
    
    Formatção Mostrar item */	
    
    .card-container.mostrar {
        display: none;
    }
    
    /*#mDivsemp h1 {
        font-family: Arial, sans-serif;
        font-size: 18px;
        color: lightgreen;
        line-height: 0.5;
        
    }*/
    #mDivsemp {
        display: none;
        align-items: normal;
        width: 80%;
        height: 100px;
        transform: translate(12% , -50% );
        top: 50%;
        left: 50%;  
        border: 1px solid white; 
        border-radius: 5px;
        margin: 2px 2px 2px 5px;
        
    }




} 
